---
layout: base.njk
title: OPE Demo Blog
---
{% for post in collections.post | reverse %}
<article>
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <div class="meta">
    {{ post.date.toISOString().slice(0,10) }}
    {% if post.data.ope_gated %}<span class="tag gated">Subscribers only</span>{% endif %}
  </div>
  <p>{{ post.content | opePreview(200) }}</p>
</article>
{% endfor %}
